<div class="relative">
  <div class="bg-cyber-1-transparent border-cyber-2 border-solid border-top py-2 mt-4 text-cyber-2 absolute bottom-0 w-full">
    <div class="w-1/3 mx-auto justify-center text-center">
      <%= link_to "https://github.com/personal-social-media/personal-social-media/blob/master/LICENSE", class: "text-lg hover:text-cyber-2-light" do %>
        <i class="fas fa-scroll"></i> License
      <% end %>
    </div>
  </div>
</div>
