<div class="bg-cyber-1-transparent border-cyber-2 border-solid border-b-2 w-full h-14 flex items-center justify-between fixed z-10 text-cyber-2 hover:text-cyber-2-light">
  <div class="ml-4">
    <%= link_to "Personal Social Media", root_path, class: "text-2xl text-cyber-2 hover:text-cyber-2-light font-bold" %>
  </div>

  <div class="flex justify-end mr-4">
    <div class="relative">
      <%= render Page::UserDropdownComponent.new(current_user: current_user, width: "w-64") %>
    </div>
  </div>
</div>
<div class="h-16">
</div>
