<div class="text-center text-3xl font-bold">
  <%= @peer.name %>
</div>

<% if @peer.email_hexdigest.present? %>
  <div class="mt-4">
    <%= image_tag PeersService::SafeAvatar.new(@peer).url(size: 240), class: "rounded-full mx-auto" %>
  </div>
<% end %>

<div class="flex justify-center mt-4">
  <%= render(Peers::RelationshipButtonComponent.new(peer: @peer)) %>
</div>

<% if @peer.friendly? || @peer.is_me? %>
  <div class="min-h-screen bg-gray-300 w-full w-1/3 mx-auto p-3">
    <%= react_component("standard-post-list", { peerId: @peer.id }) %>
  </div>
<% end %>
